@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.title{
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
}
.display-flex {
    display: flex;
}

/* dark-01 */
.black_1 {
    color: #131313;
}

/* dark-02 */
.black_2 {
    color: #424242;
}

/* DARK-03 */
.black_03 {
    color: #727272;
}
/* orange */
.orange{
    color: #FF900E;
}

.bg_light {
    background-color: rgba(255, 144, 14, 0.1);
}

/* btn styles */
.btn_primary {
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    background-color: #FF900E;
    padding: 21px 24px 20px 25px;
}

/* header styles */

/* navbar related styles */
nav {
    justify-content: space-between;
}

.nav_items {
    gap: 30px;
}

.nav_links {
    list-style: none;
}

.nav_link {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.brand {
    font-weight: 700;
    font-size: 2.8rem;
}

.nav_bar,
.banner {
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style */
.banner_content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}

.banner_title {
    font-size: 4rem;
    font-weight: 700;
}

.banner_description {
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
}

.btn_margin {
    margin-top: 32px;
    margin-bottom: 50px;
}

.hero_img {
    width: 100%;
    margin-bottom: 45px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* team section styles */
.team{
    gap: 73px;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 130px;
}
.team_features{
    max-width: 537px;
}
.team_members{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
/* .team_members img{
    width: 100%;
} */
.features_describtion{
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 32px;
}
.team_members img{
    border-radius: 8px;
}

/* fact design */
.fact_description{
    font-size: 1rem;
    font-weight: 400;
}
/* responsive media query */
@media screen and (max-width: 576px) {

    .nav_bar,
    .nav_items ,.team {
        flex-direction: column;
    }
    .team_members{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* medium device responsiveness */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .team{
        flex-direction: column;
    }
    .team_features{
        margin: 40px auto;
    }
}