@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}

/* dark-01 */
.black_1 {}

/* dark-02 */
.black_2 {
    color: #424242;
}

/* DARK-03 */
.black_03 {
    color: #727272;
}

.bg_light {
    background-color: rgba(255, 144, 14, 0.1);
}

/* btn styles */
.btn_primary {
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    background-color: #FF900E;
    padding: 21px 24px 20px 25px;
}

/* header styles */

/* navbar related styles */
nav {
    justify-content: space-between;
}

.nav_items {
    gap: 30px;
}

.nav_links {
    list-style: none;
}

.nav_link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.brand {
    font-weight: 700;
    font-size: 2.8rem;
}

.nav_bar,
.banner {
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style */
.banner_content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}

.banner_title {
    font-size: 4rem;
    font-weight: 700;
}

.banner_description {
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
}

.btn_margin {
    margin-top: 32px;
    margin-bottom: 50px;
}

.hero_img {
    width: 100%;
    margin-bottom: 45px;
}

/* responsive media query */
@media screen and (max-width: 576px) {

    .nav_bar,
    .nav_items {
        flex-direction: column;
    }
}